In [1]:
import tushare as ts
ts.set_token('your token')
pro = ts.pro_api()
df = ts.pro_bar(ts_code='600519.SH', adj='qfq', start_date='20000101', end_date='20211231')
df.to_csv("train_data.csv")

In [2]:
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,601939.SH,20211231,5.86,5.87,5.84,5.86,5.87,-0.01,-0.1704,490953.91,287442.721
1,601939.SH,20211230,5.87,5.88,5.85,5.87,5.87,0.00,0.0000,471583.95,276509.056
2,601939.SH,20211229,5.89,5.91,5.86,5.87,5.91,-0.04,-0.6768,476374.64,280098.450
3,601939.SH,20211228,5.88,5.92,5.87,5.91,5.87,0.04,0.6814,593569.65,350286.115
4,601939.SH,20211227,5.89,5.90,5.87,5.87,5.91,-0.04,-0.6768,478058.91,281176.898